In [1]:
import pandas as pd
import numpy as np

In [2]:
dir= "data_raw/graduados 2018.xlsx"

In [10]:
graduados = pd.read_excel(dir)
graduados

,Código de \nla Institución,IES PADRE,Institución de Educación Superior (IES),Principal\n o\nSeccional,ID Sector IES,Sector IES,ID Caracter,Caracter IES,Código del \ndepartamento\n(IES),Departamento de \ndomicilio de la IES,...,Núcleo Básico del Conocimiento (NBC),Código del \nDepartamento\n(Programa),Departamento de oferta del programa,Código del \nMunicipio\n(Programa),Municipio de oferta del programa,ID Sexo,Sexo,Año*,Semestre,Graduados
0,1101,1101,UNIVERSIDAD NACIONAL DE COLOMBIA,PRINCIPAL,1,OFICIAL,4,UNIVERSIDAD,11,BOGOTA DC,...,"GEOGRAFIA, HISTORIA",11,BOGOTA DC,11001,BOGOTA DC,2,MUJER,2011,2,6
1,1101,1101,UNIVERSIDAD NACIONAL DE COLOMBIA,PRINCIPAL,1,OFICIAL,4,UNIVERSIDAD,11,BOGOTA DC,...,DERECHO Y AFINES,11,BOGOTA DC,11001,BOGOTA DC,2,MUJER,2009,2,17
2,1101,1101,UNIVERSIDAD NACIONAL DE COLOMBIA,PRINCIPAL,1,OFICIAL,4,UNIVERSIDAD,11,BOGOTA DC,...,DERECHO Y AFINES,11,BOGOTA DC,11001,BOGOTA DC,2,MUJER,2012,1,5
3,1101,1101,UNIVERSIDAD NACIONAL DE COLOMBIA,PRINCIPAL,1,OFICIAL,4,UNIVERSIDAD,11,BOGOTA DC,...,"SOCIOLOGIA, TRABAJO SOCIAL Y AFINES",11,BOGOTA DC,11001,BOGOTA DC,2,MUJER,2012,2,36
4,1101,1101,UNIVERSIDAD NACIONAL DE COLOMBIA,PRINCIPAL,1,OFICIAL,4,UNIVERSIDAD,11,BOGOTA DC,...,ZOOTECNIA,11,BOGOTA DC,11001,BOGOTA DC,2,MUJER,2011,1,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388767,1701,1701,PONTIFICIA UNIVERSIDAD JAVERIANA,PRINCIPAL,2,PRIVADA,4,UNIVERSIDAD,11,BOGOTA DC,...,MEDICINA,11,BOGOTA DC,11001,BOGOTA DC,1,HOMBRE,2017,2,1
388768,1701,1701,PONTIFICIA UNIVERSIDAD JAVERIANA,PRINCIPAL,2,PRIVADA,4,UNIVERSIDAD,11,BOGOTA DC,...,MEDICINA,11,BOGOTA DC,11001,BOGOTA DC,1,HOMBRE,2017,2,1
388769,2702,2702,FUNDACION UNIVERSITARIA DE CIENCIAS DE LA SALUD,PRINCIPAL,2,PRIVADA,3,INSTITUCION UNIVERSITARIA/ESCUELA TECNOLOGICA,11,BOGOTA DC,...,SIN CLASIFICAR,11,BOGOTA DC,11001,BOGOTA DC,2,MUJER,2017,1,1
388770,2702,2702,FUNDACION UNIVERSITARIA DE CIENCIAS DE LA SALUD,PRINCIPAL,2,PRIVADA,3,INSTITUCION UNIVERSITARIA/ESCUELA TECNOLOGICA,11,BOGOTA DC,...,SIN CLASIFICAR,11,BOGOTA DC,11001,BOGOTA DC,1,HOMBRE,2017,2,1
388771,1201,1201,UNIVERSIDAD DE ANTIOQUIA,PRINCIPAL,1,OFICIAL,4,UNIVERSIDAD,5,ANTIOQUIA,...,MEDICINA,5,ANTIOQUIA,5001,NaN,2,MUJER,2017,2,1

In [11]:
dir= "data_raw/grads 2001-2017.xlsx"
graduados_2001_2017 = pd.read_excel(dir)
#graduados_2001_2017

In [6]:
#colocamos con igual nombre las columnas de ambas df
graduados_2001_2017 = graduados_2001_2017.rename(columns=graduados.iloc[0])

graduados_2001_2017 = pd.DataFrame(data=graduados_2001_2017.values, columns=graduados.columns)

#graduados_2001_2017

In [7]:
#Hacemos append de todo en un solo df

graduados = graduados.append(graduados_2001_2017)

#graduados

In [8]:
graduados.to_pickle("data_processed/graduadosT.pkl")

# MATRICULADOS

In [9]:
path_matriculados = "data_raw/Matriculados 2019.xlsx"

In [10]:
matriculados = pd.read_excel(path_matriculados)
#matriculados

In [11]:
matriculados = matriculados.drop(columns=['ID CINE CAMPO AMPLIO', 'DESC CINE CAMPO AMPLIO','ID CINE CAMPO ESPECIFICO','DESC CINE CAMPO ESPECIFICO','ID CINE CODIGO DETALLADO', 'DESC CINE CODIGO DETALLADO'])
#matriculados

In [12]:
path_matriculados = "data_raw/Matriculados"
lista_matriculados = [" 2014.xlsx"," 2015.xlsx"," 2016.xlsx"," 2017.xlsx"," 2018.xlsx"]

In [13]:
matriculados14 = pd.read_excel(str(path_matriculados+lista_matriculados[0]))
matriculados14 = matriculados14.rename(columns={'Matriculados 2014': 'Matriculados'})
matriculados14 = pd.DataFrame(data=matriculados14.values, columns = matriculados.columns)
matriculados = matriculados.append(matriculados14)
#matriculados

In [14]:
matriculados15 = pd.read_excel(str(path_matriculados+lista_matriculados[1]))
matriculados15 = matriculados15.rename(columns={'Matriculados 2015': 'Matriculados'})
matriculados15 = pd.DataFrame(data=matriculados15.values, columns = matriculados.columns)
matriculados = matriculados.append(matriculados15)
#matriculados

In [15]:
matriculados16 = pd.read_excel(str(path_matriculados+lista_matriculados[2]))
matriculados16 = matriculados16.rename(columns={'Matriculados 2016': 'Matriculados'})
matriculados16 = pd.DataFrame(data=matriculados16.values, columns = matriculados.columns)
matriculados = matriculados.append(matriculados16)
#matriculados

In [16]:
matriculados17 = pd.read_excel(str(path_matriculados+lista_matriculados[3]))
matriculados17 = matriculados17.rename(columns={'Matriculados 2017': 'Matriculados'})
matriculados17 = pd.DataFrame(data=matriculados17.values, columns = matriculados.columns)
matriculados = matriculados.append(matriculados17)
#matriculados

In [17]:
matriculados18 = pd.read_excel(str(path_matriculados+lista_matriculados[4]))
matriculados18 = matriculados18.rename(columns={'Matriculados 2018': 'Matriculados'})
matriculados18 = pd.DataFrame(data=matriculados18.values, columns = matriculados.columns)
matriculados = matriculados.append(matriculados18)
#matriculados

In [18]:
matriculados = matriculados.sort_values(by="AÑO")

In [19]:
matriculados = matriculados.reset_index()

In [20]:
matriculados = matriculados.drop(columns="index")

In [21]:
matriculados.to_pickle("data_processed/matriculadosT.pkl")

# PRIMER

In [22]:
path_primer = "data_raw/Primer 2019.xlsx"

In [23]:
primer = pd.read_excel(path_primer)
#primer

In [24]:
primer = primer.rename(columns={'PRIMER CURSO 2019': 'PRIMER CURSO'})
primer.columns

Index(['CÓDIGO DE LA INSTITUCIÓN', 'IES_PADRE',
       'INSTITUCIÓN DE EDUCACIÓN SUPERIOR (IES)', 'PRINCIPAL O SECCIONAL',
       'ID SECTOR IES', 'SECTOR IES', 'ID CARACTER', 'CARACTER IES',
       'CÓDIGO DEL DEPARTAMENTO (IES)', 'DEPARTAMENTO DE DOMICILIO DE LA IES',
       'CÓDIGO DEL MUNICIPIO', 'MUNICIPIO DE DOMICILIO DE LA IES',
       'CÓDIGO SNIES DEL PROGRAMA', 'PROGRAMA ACADÉMICO', 'ID NIVEL ACADÉMICO',
       'NIVEL ACADÉMICO', 'ID NIVEL DE FORMACIÓN', 'NIVEL DE FORMACIÓN',
       'ID METODOLOGÍA', 'METODOLOGÍA', 'ID ÁREA', 'ÁREA DE CONOCIMIENTO',
       'ID NÚCLEO', 'NÚCLEO BÁSICO DEL CONOCIMIENTO (NBC)',
       'ID CINE CAMPO AMPLIO', 'DESC CINE CAMPO AMPLIO',
       'ID CINE CAMPO ESPECIFICO', 'DESC CINE CAMPO ESPECIFICO',
       'ID CINE CODIGO DETALLADO', 'DESC CINE CODIGO DETALLADO',
       'CÓDIGO DEL DEPARTAMENTO (PROGRAMA)',
       'DEPARTAMENTO DE OFERTA DEL PROGRAMA',
       'CÓDIGO DEL MUNICIPIO (PROGRAMA)', 'MUNICIPIO DE OFERTA DEL PROGRAMA',
       'ID SEXO', 'AÑO', 'SEMESTRE', 'PRIMER CURSO'],
      dtype='object')

In [25]:
primer = primer.drop(columns=['ID CINE CAMPO AMPLIO', 'DESC CINE CAMPO AMPLIO','ID CINE CAMPO ESPECIFICO', 'DESC CINE CAMPO ESPECIFICO', 'ID CINE CODIGO DETALLADO', 'DESC CINE CODIGO DETALLADO'])
primer = primer.rename(columns={'PRIMER CURSO 2019': 'PRIMER CURSO'})
#primer

In [26]:
path_primer = "data_raw/Primer"
lista_primer = [" 2014.xlsx"," 2015.xlsx"," 2016.xlsx"," 2017.xlsx"," 2018.xlsx"]

In [27]:
primer14 = pd.read_excel(str(path_primer+lista_primer[0]))
primer14 = pd.DataFrame(data=primer14.values, columns = matriculados.columns)
primer14 = primer14.rename(columns={"MATRICULADOS ":'PRIMER CURSO'})
primer14 = primer14.drop(columns="SEXO")
#primer14

In [28]:
primer = primer.append(primer14)
#primer

In [29]:
primer15 = pd.read_excel(str(path_primer+lista_primer[1]))
primer15 = pd.DataFrame(data=primer15.values, columns = matriculados.columns)
primer15 = primer15.rename(columns={"MATRICULADOS ":'PRIMER CURSO'})
primer15 = primer15.drop(columns="SEXO")
#primer15

In [30]:
primer = primer.append(primer15)
#primer

In [31]:
primer16 = pd.read_excel(str(path_primer+lista_primer[2]))
primer16 = pd.DataFrame(data=primer16.values, columns = matriculados.columns)
primer16 = primer16.rename(columns={"MATRICULADOS ":'PRIMER CURSO'})
primer16 = primer16.drop(columns="SEXO")
primer = primer.append(primer16)
#primer

In [32]:
primer17 = pd.read_excel(str(path_primer+lista_primer[3]))
primer17 = pd.DataFrame(data=primer17.values, columns = matriculados.columns)
primer17 = primer17.rename(columns={"MATRICULADOS ":'PRIMER CURSO'})
primer17 = primer17.drop(columns="SEXO")
primer = primer.append(primer17)
#primer

In [33]:
primer18 = pd.read_excel(str(path_primer+lista_primer[4]))
primer18 = pd.DataFrame(data=primer18.values, columns = matriculados.columns)
primer18 = primer18.rename(columns={"MATRICULADOS ":'PRIMER CURSO'})
primer18 = primer18.drop(columns="SEXO")
primer = primer.append(primer18)
#primer

In [34]:
primer = primer.sort_values(by="AÑO")
primer = primer.reset_index()
primer = primer.drop(columns="index")
#primer

In [35]:
primer.to_pickle("data_processed/primerT.pkl")

# Inscritos

In [36]:
path_inscritos = "data_raw/Inscritos 2019.xlsx"
inscritos = pd.read_excel(path_inscritos)
#inscritos

In [ ]:
#ya trae los datos desde 2014 a 2019, solo debo eliminar las columnas sin datos

In [37]:
inscritos = inscritos.drop(columns=['ID CINE CAMPO AMPLIO', 'DESC CINE CAMPO AMPLIO', 'ID CINE CAMPO ESPECIFICO', 'DESC CINE CAMPO ESPECIFICO', 'ID CINE CODIGO DETALLADO', 'DESC CINE CODIGO DETALLADO'])
#inscritos

In [38]:
inscritos.to_pickle("data_processed/inscritosT.pkl")

# Admitidos

In [39]:
path_admitidos = "data_raw/admitidos 2019.xlsx"
admitidos = pd.read_excel(path_admitidos)
#admitidos

In [40]:
admitidos.columns

Index(['CÓDIGO DE LA INSTITUCIÓN', 'IES_PADRE',
       'INSTITUCIÓN DE EDUCACIÓN SUPERIOR (IES)', 'PRINCIPAL O SECCIONAL',
       'ID SECTOR IES', 'SECTOR IES', 'ID CARACTER', 'CARACTER IES',
       'CÓDIGO DEL DEPARTAMENTO (IES)', 'DEPARTAMENTO DE DOMICILIO DE LA IES',
       'CÓDIGO DEL MUNICIPIO', 'MUNICIPIO DE DOMICILIO DE LA IES',
       'CÓDIGO SNIES DEL PROGRAMA', 'PROGRAMA ACADÉMICO', 'ID NIVEL ACADÉMICO',
       'NIVEL ACADÉMICO', 'ID NIVEL DE FORMACIÓN', 'NIVEL DE FORMACIÓN',
       'ID METODOLOGÍA', 'METODOLOGÍA', 'ID ÁREA', 'ÁREA DE CONOCIMIENTO',
       'ID NÚCLEO', 'NÚCLEO BÁSICO DEL CONOCIMIENTO (NBC)',
       'ID CINE CAMPO AMPLIO', 'DESC CINE CAMPO AMPLIO',
       'ID CINE CAMPO ESPECIFICO', 'DESC CINE CAMPO ESPECIFICO',
       'ID CINE CODIGO DETALLADO', 'DESC CINE CODIGO DETALLADO',
       'CÓDIGO DEL DEPARTAMENTO (PROGRAMA)',
       'DEPARTAMENTO DE OFERTA DEL PROGRAMA',
       'CÓDIGO DEL MUNICIPIO (PROGRAMA)', 'MUNICIPIO DE OFERTA DEL PROGRAMA',
       'ID SEXO', 'SEXO', 'AÑO', 'SEMESTRE', 'ADMITIDOS '],
      dtype='object')

In [41]:
path_admitidos = "data_raw/admitidos"
lista_admitidos = [" 2014.xlsx"," 2015.xlsx"," 2016.xlsx"," 2017.xlsx"," 2018.xlsx"]

In [42]:
admitidos14 = pd.read_excel(str(path_admitidos+lista_admitidos[0]))
admitidos14 = pd.DataFrame(data=admitidos14.values, columns = matriculados.columns)
admitidos14 = admitidos14.rename(columns={"MATRICULADOS ":'ADMITIDOS '})
#admitidos14 = admitidos14.drop(columns="SEXO")
admitidos = admitidos.append(admitidos14)
#admitidos

C:\Users\000281268\Documents\Anaconda\lib\site-packages\pandas\core\frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

In [43]:
admitidos15 = pd.read_excel(str(path_admitidos+lista_admitidos[1]))
admitidos15 = pd.DataFrame(data=admitidos15.values, columns = matriculados.columns)
admitidos15 = admitidos15.rename(columns={"MATRICULADOS ":'ADMITIDOS '})
#admitidos15 = admitidos15.drop(columns="SEXO")
admitidos = admitidos.append(admitidos15)
#admitidos

C:\Users\000281268\Documents\Anaconda\lib\site-packages\pandas\core\frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

In [44]:
admitidos16 = pd.read_excel(str(path_admitidos+lista_admitidos[2]))
admitidos16 = pd.DataFrame(data=admitidos16.values, columns = matriculados.columns)
admitidos16 = admitidos16.rename(columns={"MATRICULADOS ":'ADMITIDOS '})
#admitidos16 = admitidos16.drop(columns="SEXO")
admitidos = admitidos.append(admitidos16)
#admitidos

C:\Users\000281268\Documents\Anaconda\lib\site-packages\pandas\core\frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

In [45]:
admitidos17 = pd.read_excel(str(path_admitidos+lista_admitidos[3]))
admitidos17 = pd.DataFrame(data=admitidos17.values, columns = matriculados.columns)
admitidos17 = admitidos17.rename(columns={"MATRICULADOS ":'ADMITIDOS '})
#admitidos17 = admitidos17.drop(columns="SEXO")
admitidos = admitidos.append(admitidos17)
#admitidos

C:\Users\000281268\Documents\Anaconda\lib\site-packages\pandas\core\frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

In [46]:
admitidos18 = pd.read_excel(str(path_admitidos+lista_admitidos[4]))
admitidos18 = pd.DataFrame(data=admitidos18.values, columns = matriculados.columns)
admitidos18 = admitidos18.rename(columns={"MATRICULADOS ":'ADMITIDOS '})
#admitidos18 = admitidos18.drop(columns="SEXO")
admitidos = admitidos.append(admitidos18)
#admitidos

C:\Users\000281268\Documents\Anaconda\lib\site-packages\pandas\core\frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

In [47]:
admitidos = admitidos.sort_values(by="AÑO")
admitidos = admitidos.reset_index()
admitidos = admitidos.drop(columns="index")
#admitidos

In [48]:
admitidos.to_pickle("data_processed/admitidosT.pkl")